$bg : #f4f4f8;
$navbar_bg: #001A2E;
$black: #001220;
$light_violet: #A66CFF;
$violet: #741BFF;
$white: #F3F3F3;
$paragraph: #2c2c2c;
$blue: #4D60FC;
$dark_blue: #4256e9;
$header: #000033;
$paragraph_light: #f2f2f2;


.blog main {
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}

.blog .contentContainer {
  scroll-behavior: smooth;
  background-color: #ffffff;
  border-radius: 7px;
  position: relative;
  padding: 1%;
  width: 70vw;
  height: fit-content;
  margin: 5vh auto 5vh;
  min-height: 100vh;
}
$margin_bot: 4px;
$margin_top: 30px;

.blog h1 {
  color: $header !important;
  margin-bottom: $margin_bot;
  font-weight: 600 !important;
}
.blog .content h2, .blog .content h3, .blog .content h4, .blog .content h5, .blog .content h6 {
  color: $header !important;
  margin: $margin_top 0 $margin_bot ;
  font-weight: 600 !important;
}
.blog p {
  color: $paragraph !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
  font-family: "Poppins", sans-serif;
  line-height: 150%;
}
.thumbnail {
  margin: 0 auto;
  display: flex;
}

.blog .ttr {
  position: absolute;
  right: 2%;
  justify-self: end;
  width: fit-content;
  font-size: 1.2rem !important;
  color: $paragraph;
  background-color: $bg;
  padding: 0.8%;
  border-radius: 5px;
}
.blog .minutes {
  font-size: 1.4rem !important;
}
.blog .title {
  width: 80%;
  display: flex;
  flex-direction: row;
}
.blog .copyright {
  color: $paragraph_light !important;
}
.toc a:visited {
  color: $paragraph ;
  font-size: 1.3rem ;
}
.toc a {
  transition: 0.3s ease;
  color: $paragraph ;
  font-size: 1.3rem ;
}
.contentContainer .toc a:hover {
  color: $dark_blue !important;
}
.blog .contentContainer p a, .blog ul li a {
  color: $blue;
}
.blog .contentContainer p a:hover, .blog ul li a {
  color: $dark_blue
}
.blog .contentContainer p a:visited, .blog ul li a {
  color: $blue;
}
.toc {
  margin: 2vh 0;
}
.toc a {
  font-size: 1.4rem !important;
  margin-left: 10px;
}
.toc ol li {
  counter-increment: item;
  margin: 2vh 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.toc ol li::before {
  width: 2.5rem;
  height: 2.5rem;
  content: counter(item)  ;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: #ffffff;
  border: 3px solid $blue;
  border-radius: 50%;
}

.toc ol  {
  list-style: none;
  counter-reset: item;
}
.toc .tocP {
  color: $paragraph !important;
  font-weight: 400 !important;
  letter-spacing: 2px;
}
* {
   scroll-margin-top: 11vh !important;
   scroll-behavior: smooth;
  } 
  .contentContainer .thumbnail {
    width: 80%;
    height: auto;
  }
@media (max-width: 767px) {
  .blog .contentContainer {
    width: 90vw;
    padding: 3%;
  }
  .toc ol li::before {
    font-size: 1.3rem;
    border: none;
    background: none;
    color: $blue;
    font-size: 1.8rem;
    align-self: normal;
    content: counter(item) ". "; 
  }
  .contentContainer .thumbnail {
    width: 100%;
    height: auto;
  }
  
}
@media (max-width: 1023px) {
  .title{
    flex-direction: column !important;
  }
  .ttr {
    background-color: $bg;
    padding: 1.7% !important;
    border-radius: 5px;
    margin: 1vh 1vw;
    position: relative !important;
    right: auto !important;
  }
  
}